<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partial/bootstrap %>
    <title>Appointment | Gonorrhea Expert System</title>
</head>
<body class='bg-sky-blue'>
     <% include ../partial/adminnav %>
  <div class="jumbotron jumbotron-fluid bg-sky-blue">
   
            <div class="col-lg-10 mb-2 offset-lg-1">
                <div class="card">
                    <div class="card-header btn-nurse-blue text-light">DashBoard / Appointment</div>
                    <div class="card-body">
                            <table class="table table-striped">
                                   <%if (appointments.length>0){%>
                                    <thead>
                                            <tr>
                                              <th scope="col">Sender's Name</th>
                                              <th scope="col">Message</th>
                                              <th scope="col">E-mail</th> 
                                              <th scope="col">Manage</th>                                        
                                            </tr>
                                          </thead>
                                          <tbody>
                                              <%for (app of appointments){ %>
                                                  <tr>
                                                      <th scope="row"><%=app.name%></th>
                                                      <td><%=app.message%></td>
                                                      <td><%=app.email%></td>
                                                      <td><a href="/dashboard/appointment/<%=app.SN%>"><i class="fas text-danger fa-trash"></i></a> </td>                                                    
                                                  </tr>
                                              <%}%>
                                              
                                          </tbody>
                                   <% } else {  %>
                                    <p class="lead text-center">No Appointment</p>
                                    <%}%>
                                  </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>