<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partial/bootstrap %>
    <title> New Symptom | Gonorrhea Expert System</title>
</head>
<body class='bg-sky-blue'>
        <div class="bg2">
            <% include ../partial/adminnav %>
        </div>
    <section class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 shadow mt-5 p-3">
               <form action="/admin/dashboard/add" method='post' class="form-group">
                   <input name='symp' required type="text" placeholder="Symptom Here"  class="form-control mb-2">
                   <input name='type' type="text" readonly value="Gonorrhea" class="form-control">
                   <div class="text-center">
                    <button class="btn btn-nurse-blue mt-2 btn-block text-light">Add Symptom</button>
                   </div>
               </form>
            </div>

        </div>
    </section>
</body>
</html>