<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partial/bootstrap %>
    <title>STD Expert System</title>
</head>
<body class='bg'>
  <div class="jumbotron jumbotron-fluid bg-sky-blue">
    <p class="display-4 text-light text-center">RESULTS SUMMARY</p>
   </div>

   <section class="container">
       <div class="row">
           <div class="col-lg-6 mb-2">
               <div class="card">
                   <div class="card-header">
                       <p class="lead text-center">Test Summary</p>
                   </div>
                   <div class="card-body">
                        <%-text %>
                   </div>
               </div>
           </div>
       </div>
   </section>
  


  <!-- Scripts -->
  <script src="/js/custom.js"></script>
</body>
</html>