<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partial/bootstrap %>
    <title>STD Expert System</title>
</head>
<body class='bg'>
  <div class="jumbotron jumbotron-fluid bg-sky-blue">
    <p class="display-4 text-light text-center">RESULTS</p>
    <p class="lead text-light text-center">The system infer that <%=text %></p>
    <div class="text-center">
      <a href="#symptoms" class="btn btn-nurse-blue text-light pl-5 pr-5"> Let go &DownArrow;</a>
   </div>
  
  </section>



  <!-- Scripts -->
  <script src="/js/custom.js"></script>
</body>
</html>