<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partial/bootstrap %>
    <title>Gonorrhea Expert System</title>
</head>
<body class='bg'>
  <% include partial/nav %>
  <div class="jumbotron jumbotron-fluid bg-sky-blue">
   <p class="display-4 text-light text-center">EXPERT SYSTEM ON GONORRHEA DIAGNOSIS</p>
   <p class="lead text-light text-center">An expert system is a computer program that uses artificial intelligence (AI) technologies to simulate the judgment <br> and behavior of a human or an organization that has expert knowledge and experience in a particular field.<br>Also An expert system is an AI software that uses knowledge stored in a knowledge base to solve problems that <br> would usually  require a human expert thus preserving a human expert’s knowledge in its knowledge base</p>
   <div class="text-center">
      <a href="/diagnoseme" class="btn btn-nurse-blue text-light pl-5 pr-5"> Start Here &rarr;</a>
   </div>
  </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <h1 class="display-3 ml-5 text-nurse-blue">How it Works</h1>
        <ul type='square'>
          <li><p class=" text-nurse-blue display-4">Hit "Start Here" Button &UpArrow;</p></li>
          <li><p class=" text-nurse-blue display-4">Wait for the Page to load</p></li>
          <li><p class=" text-nurse-blue display-4">Answer questions. </p></li>
          <li><p class=" text-nurse-blue display-4"> Hit Submit Button.</p></li>
          <li><p class=" text-nurse-blue display-4">IE queries knowledgeBase</p></li>
          <li><p class=" text-nurse-blue display-4">Get Result</p></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img src="../img/reservation.png" height="1em" class="img-fluid" alt="">
      </div>
    </div>
  </section>
</body>
</html>